#loggin{
	background-image: url(../images/singup-walpaper.jpg);
	background-position-x: -746px;
}

#signup {
	background-image: url(../images/singup-walpaper.jpg);
}

#cast {
	background-color: 	#101010;
}

.container{
	display:flex;
	flex-direction:row;
	justify-content:center;
	align-items:center;
}

.container h2 {
	margin-bottom: 20px;
}

.form-control{
	border:none;
	border-radius: 10px;
	color: #1f6032;
}

form {
	display: flex;
	flex-direction: column;
	text-align: center;
}

.row{
	width:100%;
	margin-top:15%;
	border-radius:14px;
}

input {
	margin: 10px 0;
    height: 40px;
    text-align: center;
    width: 100%;
}

button {
	font-size: 20px;
	width: 90%;
}

@media(max-width:768px){
	body{
		font-size:10px;
	}
	
	h2{
		font-size:15px;
	}
	
	input{
		font-size:13px;

	}
	

	
}