@import url("https://fonts.googleapis.com/css?family=Josefin+Sans&display=swap");

@font-face {
    font-family: Heart_Breaking_Bad;
    src: url("../font-style/Heart_Breaking_Bad.otf") format("opentype");
}

*{
    font-family: 'Josefin Sans', sans-serif;
    margin: 0;
    padding: 0;
}

img,video{
    width: 90%;
    margin: 5%;
}

body{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.bb-font {
    font-family: Heart_Breaking_Bad;
    font-size: 40px; /*on  movile devices*/
}


/* header and menu of indexwebpage*/
header {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 30px;
    padding-bottom: 30px;
    width: 100%;
}

.navbar-brand{
    
}
.nav-container div{
        display: block;
    }


li ,a{
    list-style: none;
    text-decoration: none;
    color: white;
    font-size: 60px;
}

.image-container {
    width: 70%;
}
/*wallpaper and index page*/
#background-index {
    background: linear-gradient(180deg, rgba(1,36,0,1) 12%, rgba(0,0,0,1) 43%);   
}

#home-main p { 
    color: white;
}

#home-main h1{
    margin-top: 20%;
    color: white;
}

/*cast*/

.search-container {
    display: flex;
    justify-content: center;
    align-items: center;
}

#searchbar{
    background-color: black;
    border: 1px solid #3fb573;
    color: white;
    margin-left: 10px;
}

.h3-cast {
    color: white;
}

.cast-container {
    display: flex;
    flex-direction: column;
    color: white;
    font-size: 25px;
    justify-content: center;
    text-align: center;
}

.card-container {
    padding: 15%;
}

.p-nickname {
    font-size: 15px;
}

.char-title {
    display: flex;
    justify-content: center;
    margin-right: 30%;
    margin-left: 30%;
    padding: 5%;
    margin-bottom: 5%;
    border:2px solid #3fb573;
    color: white;
    font-size: 20px;
}


/*Log IN html*/

/*About */
.first-about {
    color: whitesmoke;
}

#about p {
margin-top: 20px;

}

#about p, h3 {
    text-align: left;
}

.card-container h3 {
    text-align: center;
}

.scroll-text {
    text-align: center;
    margin: 20px;
}

.scroll-text h2 {
    font-size: 20px;
}

.articles-secc {
    /*border: 1px solid seagreen;*/
    margin-bottom: 8%;
    color: white;
}
 

.wigle {
    position: absolute;
    width: 25%;
    animation-name: wiggling;
    animation-duration: 4s;
    animation-delay: -4s;
    animation-iteration-count: infinite;
    
}

@keyframes wiggling {
  0%   {transform: rotate(0deg);}
  
  50%  {transform: rotate(-20deg)}
  
  100% {transform: rotate(0deg);}
}

/*media queries*/

main {
    width:100%;
    max-width: 1200px;
    display: flex;
    flex-direction: column;
}


@media (min-width: 576px) {
  
}

@media (min-width: 768px) {
  
}

@media (min-width: 992px) {
  .articles-secc{
      width: 48%;
  }

  main {
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
    }
}

@media (min-width: 1200px) {
  
}


